/terraform.iml
/.idea/
/tests/vpc/.terraform/
/tests/vpc/.terraform.lock.hcl
/tests/test-jenkins/.terraform/
/tests/test-jenkins/.terraform.lock.hcl
/tests/test-jenkins/aws/
/tests/test-jenkins/.aws/
/modules/vpc/v1/.terraform/
/modules/vpc/v1/.terraform.lock.hcl
/modules/eks/v1/.terraform/
/modules/eks/v1/.terraform.lock.hcl
/tests/vpc/.terraform/
/tests/vpc/.terraform.lock.hcl
/modules/sg/vpc/v1/.terraform/
/tests/eks/.terraform/
/tests/eks/.terraform.lock.hcl
/modules/sg/vpc/v1/.terraform.lock.hcl
